<div class="footer">
  <div class="copyright">
    <p>©La casa de Pizz</p>
    <p>
      Developper par
      <a id="dev"
        href="https://www.linkedin.com/in/adrien-mervelay-2748a8223/"
        target="_blank"
        >A/M Developpement</a
      >
    </p>
  </div>
  <div class="reseau">
    <h5>Suivez nous sur nos réseaux sociaux</h5>
    <div class="img">
      <a href="https://www.instagram.com/lacasadepizz38/" target="_blank"
        ><img src="assets/images/instagram-g07d8c2ed5_640.png" alt="instagram"
      /></a>
      <a
        href="https://www.facebook.com/La-Casa-De-Pizz-110339671466640"
        target="_blank"
        ><img src="assets/images/facebook-g53cb3a075_640.png" alt="facebook"
      /></a>
    </div>
  </div>
</div>
