<div class="main">
  <button type="button" [routerLink]="['/menu']"><b>Menus</b></button>
  <button type="button" [routerLink]="['/pizzas']"><b>Pizzas</b></button>
  <button type="button" [routerLink]="['/suggestions']">
    <b>Suggestions</b>
  </button>
  <button type="button" [routerLink]="['/pates']"><b>Pâtes</b></button>
  <button type="button" [routerLink]="['/panzerotti']">
    <b>Panzerottis</b>
  </button>
  <button type="button" [routerLink]="['/desserts']"><b>Desserts</b></button>
  <button type="button" [routerLink]="['/boissons']"><b>Boissons</b></button>
</div>
