<div class="cartePates"> 
    <h2>(Otages)Pâtes </h2>
   <li><u>Allison Parker</u>:Tagliatelles façon carbonara...................9,90€</li>
   <li><u>Mercedes</u>:Caramela Ricotta épinard,sauce gorgonzola et noix..............10,90€</li>
   <li><u>Arthuro</u>:Pâtes aux Chorizo et poivrons confits........................10,90€</li>
   <li><u>Monica</u>:Linguini épinards,légumes confits,Pesto................10€</li>
   <li><u>Ariadna</u>:Agnolotti saumon,sauce saumon..........................11€</li>
 </div>
 <button type="button" [routerLink]="['/la-carte']">Retour</button>
