<div class="main">
  <button type="button" [routerLink]='["/menu"]' ><b>Menus</b></button>
  <button type="button" [routerLink]='["/pizzas"]' ><b>Pizzas</b></button>
  <button type="button" [routerLink]='["/suggestions"]' ><b>Suggestions</b></button>
  <button type="button" [routerLink]='["/pates"]' ><b>Pâtes</b></button>
  <button type="button" [routerLink]='["/panzerotti"]' ><b>Panzerottis</b></button>
  <button type="button" [routerLink]='["/desserts"]' ><b>Desserts</b></button>
  <button type="button" [routerLink]='["/boissons"]' ><b>Boissons</b></button>
</div>
<div class="cartePates"> 
    <h2>(Otages)Pâtes </h2>
   <li><u>Allison Parker</u>:Tagliatelles façon carbonara...................9,90€</li>
   <li><u>Mercedes</u>:Caramela Ricotta épinard,sauce gorgonzola et noix..............10,90€</li>
   <li><u>Arthuro</u>:Pâtes aux Chorizo et poivrons confits........................10,90€</li>
   <li><u>Monica</u>:Linguini épinards,légumes confits,Pesto................10€</li>
   <li><u>Ariadna</u>:Agnolotti saumon,sauce saumon..........................11€</li>
 </div>