<div class="main">
  <button type="button" [routerLink]='["/menu"]' ><b>Menus</b></button>
  <button type="button" [routerLink]='["/pizzas"]' ><b>Pizzas</b></button>
  <button type="button" [routerLink]='["/suggestions"]' ><b>Suggestions</b></button>
  <button type="button" [routerLink]='["/pates"]' ><b>Pâtes</b></button>
  <button type="button" [routerLink]='["/panzerotti"]' ><b>Panzerottis</b></button>
  <button type="button" [routerLink]='["/desserts"]' ><b>Desserts</b></button>
  <button type="button" [routerLink]='["/boissons"]' ><b>Boissons</b></button>
</div>
<div class="cartePanzerotti">
    <h2>(Policiers)Panzerotti</h2>
    <li><u>Rubio</u>:Viande hachée ricotta, Tomate, Mozza.......................9€</li>
    <li><u>Prieto</u>:Tomate, Mozza, poivrons, chorizo..........................9€</li>
    <li><u>Murillo</u>:Tomate, Mozza............................................7€</li>
    <li><u>Alberto</u>:Tomate, Mozza, Jambon....................................8€</li>
    <li><u>Tamayo</u>:Tomate, 4 Fromages........................................9€</li>
    <li><u>Gandilla</u>:Tomate Poulet, Mozza..................................8,5€</li>
    <li><u>Sierra</u>:Tomate, légumes, Mozza..................................8,5€</li>
    <li><u>Suarez</u>:Tomate, mortadelle, mozza, taleggio.......................9€</li>
  </div>
