<div class="home">
  <div class="title">
    <h1>Qui sommes nous?</h1>
  </div>
  <div class="homeText">
    <p>
      Deux amoureux de la cuisine, qui se lancent dans le fabuleux projet de
      partager leur vision de la <b>Pizza</b> ... mais pas que 😉 <br />
      Notre mission ? faire de vos repas un moment chaleureux et agréable.
      <br />
      Que vous soyez seul, entre amis, en famille ou en amoureux, végétarien ou
      carnivore, avec un gros appétit ou non, nous ferons tout pour être au top
      et rendre ce moment magique!! 💫💪 <br />
    </p>
    <div class="adresse">
      <p><b> Venez nous decouvrir au </b>:</p>
      <p [ngStyle]="{ color: 'yellow' }">
        125 chemin de l'étang girard 38270 REVEL-TOURDAN
      </p>
    </div>
    <div class="horraires">
      <p>
        <b>Du lundi au Dimanche</b><br />
        de 11h30 à 13h30 <br />
        et de 18h à 22h
      </p>
    </div>
  </div>
</div>
